nav{
     display: flex; 
     justify-content: space-between;
     background: rgb(216,39,20);
     padding: 10px;
     margin-bottom: 30px;
}
h1{
    color: white;
}
#cuenta{
     display: flex; 
     flex-direction: row; 
     align-items: center;
}
#nombre-cuenta{
    color: white;
}
#icono{
    font-size: 20px;
    color: white;
}
#mensaje-positivo{
    background: #49C82D;
}
#mensaje-negativo{
    background: #E42D2D;
    position: relative;
}
.botones a{
    padding: 5px; 
    border-radius: 5px;
}
#btn-descarga{
    background: dodgerblue; 
}
#btn-edit{
    background: yellow; 
}
#btn-edit i{
    color: black;
}
#btn-borrar{
    background: red;
}
#btn-borrar i{
    color: white;
}
#css-alineados, #css-alineados2{
    display: flex;
    justify-content: left;
}
#css-materia, #css-anio, #css-especialidad, #css-archivo{
    display: flex;
    flex-direction: column;
    margin: 10px 20px 0px 20px;
}
.box-agregar{
    position: relative;
    padding: 10px 10px 60px 10px;
    border-radius: 10px;
    margin: 20px;
    border: outset 2px #B6B6B6;
    width: 570px;
    background: #f0f0f0;
    grid-column: 1;
}
.avisos{
    grid-column: 2;
}
.box-buscar{
    margin: 20px;
}
.div-agregar{
    display: grid;
    grid-template-columns: 570px 1fr;
    column-gap: 70px;
    align-items: center;
}
.titulo-color{
    color: rgb(216,39,20);
}
#centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-bottom: 60px;
}
.box-ingresar, .box-cambiar{
    padding: 20px 20px 80px 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative;
}
#agregar{
    margin: 15px;
    position: absolute;
    right: 15px;
    bottom: 15px;
}
#volver{
    margin: 15px;
    position: absolute;
    left: 15px;
    bottom: 15px;
}
#btn-volver-act{
    display: flex;
    justify-content: space-between;
}
.label{
    font-size: 25px;
}
.titulo{
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #494949;
    padding: 20px;
    color: white;
}
.footer-logo{
    display: flex;
    flex-direction: column;
    padding: 0 50px;
}
.footer-logo img{
    height: 150px;
    width: 130px;
    margin: 10px auto;
    text-align: center;
}
.footer-logo p{
    font-size: 10px;
}

#comparar {
    visibility: visible;

}

#centrado {
    visibility: hidden;
}

.btn-comunicarse {
    font-size: 35px;
    text-decoration: none; 
    color: white; 
    background: dodgerblue; 
    padding: 10px 20px; 
    border-radius: 10px; 
    transition: background 0.3s ease;
}